<%include ../partials/navbar.ejs%>

  <%if(login){%>

      <h1>Events</h1>

  <%}%>



<% dataEvent.forEach(item => { %>

<div class="container group">
  <div class="grid-1-5">
    <h2><%= item.name_of_event %></h2>
    <h3><span class="uppercase"><%= item.name_of_group%></span></h3>
    <p>Lorem ipsum dolor sit amet</p>
    <ul>
      <li>Lorem ipsum dolor sit amet, consectetur</li>
      <li>Lorem ipsum dolor sit amet, consectetur </li>
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor i</li>
    </ul>

    <a href="/event/detailevent/<%= item.id%>" class="button">Details</a>
  </div>


</div>

<% })  %>
