<%include ../partials/navbar.ejs%>


  <div class="container-edit">
  <h2>Add Event</h2>
  <form id="form-edit" action="/event/addevent/<%= GroupId %>" method="post">
    <label>Name Of Event</label>
    <input id=boxinput type="text" name="name_of_event" placeholder="Seminar">
    <br>
    <label>Location</label>
    <input id=boxinput type="text" name="location" placeholder="Jakarta">
    <br>
    <label>Date</label>
      <input name="date" id="datepicker" />
    <br>
    <br>
    <input type="submit" name="" value="submit">

  </form>
  </div>
</body>
  <script>
  $(document).ready(function() {
    $("#datepicker").datepicker();
  });
  </script>
</html>
