<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <form action="/groups/addnewgroup" method="post">
    <label>Your Group Name</label>
    <input type="text" name="name_of_group" value="" placeholder="Ex: genk motor">
    <label>Category</label>
    <select name="category">
    <option value="hobby">Hobby</option>
    <option value="pendidikan">Pendidikan</option>
    <option value="technologies">Technologies</option>
    <option value="food" selected>Food</option>
    <option value="etc" selected>Other</option>
  </select>

  <input type="submit" name="" value="submit">


  </form>
</body>
</html>
