<%include ../partials/navbar.ejs%>

<div class="select">
<h1>My Group</h1>

    <a  href="/groups/addnewgroup"><button type="button" name="button">Create New Group</button></a>
  </div>
<% dataGroups.Groups.forEach(item => { %>



  <% if(item.UserGroup.role == 'admin') { %>

<div class="container group">
  <div class="grid-1-5">
    <h2><%= item.category %></h2>
    <h3><span class="uppercase"><%= item.name_of_group%></span></h3>
    <p>Lorem ipsum dolor sit amet</p>
    <ul>
      <li>Lorem ipsum dolor sit amet, consectetur</li>
      <li>Lorem ipsum dolor sit amet, consectetur </li>
      <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor i</li>
    </ul>
    <a href="/groups/editgroup/<%=item.id%>" class="button">Edit</a>

  </div>


</div>

<% } %>
<% })  %>
